$primary-Red: hsl(0, 78%, 62%);
$primary-Cyan: hsl(180, 62%, 55%);
$primary-Orange: hsl(34, 97%, 64%);
$primary-Blue: hsl(212, 86%, 64%);
$neutral-VeryDarkBlue: hsl(234, 12%, 34%);
$neutral-GrayishBlue: hsl(229, 6%, 66%);
$neutral-VeryLightGray: hsl(0, 0%, 98%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: $neutral-GrayishBlue;
    background-color: $neutral-VeryLightGray;
    font-size: 15px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

header{
    text-align: center;
    padding-top: 2.5rem;
    margin: 1rem auto;

    h1{
        font-weight: 300;
    }

    p{
        max-width: 500px;
        margin: 1rem auto;
        color: $neutral-GrayishBlue;
    }
}

header, h2{
    color: $neutral-VeryDarkBlue;
}

.cards{
    display: grid;
    grid-template:
        ". two ." 1fr
        "one two four" 1fr
        "one three four" 1fr
        ". three ." 1fr
        / 1fr 1fr 1fr;
    gap: 1.6rem;
    width: 70%;
    margin: 1.5rem auto;
}

.card{
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 2rem -1.3rem $neutral-VeryDarkBlue;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    img{
        align-self: flex-end;
        height: 50px;
        margin-top: 1rem;
    }
}

.one{
    grid-area: one;
    border-top: 4px solid $primary-Cyan;
}

.two{
    grid-area: two;
    border-top: 4px solid $primary-Red;
}

.three{
    grid-area: three;
    border-top: 4px solid $primary-Orange;
}

.four{
    grid-area: four;
    border-top: 4px solid $primary-Blue;
}

.attribution { 
    width: 100vw;
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
 }

 @media (max-width: 1024px){
    header{
        margin: 0 auto;
    }
    
    .cards{
        width: 95%;
    }
 }

 @media (max-width: 768px){
    .cards{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
 }

 @media (min-width: 320px) and (max-width: 550px){
    header{
        padding: 2rem 0;
        margin-top: 2rem;
        width: 80%;
        
        h1{
            font-size: 1.5rem;
        }

        p{
            font-size: 0.9rem;
            
        }
    }

    h2 {
        font-size: 1rem;
    }

    .cards{
        width: 80%;

        p{
            font-size: 0.7rem;
        }

        img{
            margin-top: 2rem;
        }
    }
 }